<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ul>
    <% quotes.forEach(function(quote){ %>
    <li>
        <%= quote.author %> <%= quote.author %>
    </li>

    <% }); %>
</ul>
</body>
</html>